/* Imports */

@import "base/variables";
@import "components/header";
@import "components/footer";
@import "components/index";
@import "components/filmografia";

/* Fin Imports */


/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-body;
    color: $color-texto;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}