@import "../base/variables";

/* Inicio Main */
.main-filmografia {
    display: flex;
    justify-content: center;
}

.cont-filmografia {
    padding: 25px 0;
    width: 95%;

    h3 {
        display: none;
    }

    p {
        display: none;
    }

    div:hover>h3 {
        display: block;
        text-align: center;
    }

    div:hover>p {
        display: block;
        text-align: $txt-alineacion;
        padding: 8px;
    }
}

.portada-filmografia {
    background-image: url(../../images/filmografia/fondo-filmografia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;

    h1 {
        align-self: center;
        font-size: 50px;
        margin-left: 130px;
    }
}

/* Primera Fila */
.primera-fila {
    height: 330px;
    display: flex;

    div {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 288.75px;
        border: 2px solid $bg-body;
    }

    div:hover {
        background-image: none;
        background-color: $bg-header;
    }
}

.filmo-1 {
    background-image: url(../../images/filmografia/taxi-driver-filmografia.jpg);
}

.filmo-2 {
    background-image: url(../../images/filmografia/the-irishman-filmografia.jpg);
}

.filmo-3 {
    background-image: url(../../images/filmografia/casino-filmografia.jpg);
}

.filmo-4 {
    background-image: url(../../images/filmografia/raging-bull-filmografia.jpg);
}

/* Segunda Fila */
.segunda-fila {
    height: 250px;
    display: flex;

    div {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 192.5px;
        border: 2px solid $bg-body;
    }

    div:hover {
        background-image: none;
        background-color: $bg-header;
    }

    p {
        font-size: 14px;
    }
}

.filmo-5 {
    background-image: url(../../images/filmografia/heat-filmografia.jpg);
}

.filmo-6 {
    background-image: url(../../images/filmografia/the-king-of-comedy-filmografia.jpg);
}

.filmo-7 {
    background-image: url(../../images/filmografia/the-godfather-filmografia.jpg);
}

.filmo-8 {
    background-image: url(../../images/filmografia/dirty-grandpa-filmografia.jpg);
}

.filmo-9 {
    background-image: url(../../images/filmografia/the-deer-hunter-filmografia.jpg);
}

.filmo-10 {
    background-image: url(../../images/filmografia/cape-fear-filmografia.jpg);
}

/* Tercera Fila */
.tercera-fila {
    height: 310px;
    display: flex;

    div {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 231px;
        border: 2px solid $bg-body;
    }

    div:hover {
        background-image: none;
        background-color: $bg-header;
    }

    p {
        font-size: 15px;
    }
}

.filmo-11 {
    background-image: url(../../images/filmografia/a-bronx-tale-filmografi.jpg);
}

.filmo-12 {
    background-image: url(../../images/filmografia/killers-of-the-flower-moon-filmografia.jpg);
}

.filmo-13 {
    background-image: url(../../images/filmografia/once-in-america-filmografia.jpg);
}

.filmo-14 {
    background-image: url(../../images/filmografia/meet-the-parents-filmografia.jpg);
}

.filmo-15 {
    background-image: url(../../images/filmografia/last-vegas-filmografia.jpg);
}
/* Fin Main */

/* Responsive Design Mobile y Tablet */
@media only screen and (max-width: 767px) {
    .portada-filmografia {
        background-image: url(../../images/filmografia/fondo-filmografia-mobile.jpg);
        justify-content: flex-end;
        height: 300px;

        h1 {
            margin: 0 170px 90px 0;
            font-size: 30px;
        }
    }

    .primera-fila, .segunda-fila, .tercera-fila {
        display: flex;
        flex-direction: column;
        height: 250vh;

        div {
            height: 250vh;
            width: 100%;
            margin: 8px 0;
        }
    }
}