@import "../base/variables";

.pie-pag {
    background-color: $bg-footer;
    display: flex;
    justify-content: center;
}

.cont-pie-pag {
    width: 60%;
    background-color: $bg-body;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border-top: 5px solid $bg-footer;
    border-bottom: 5px solid $bg-footer;
}

.links-pie-pag {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;

    div {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    img {
        height: 70px;
        border-radius: 60px;
    }
}

/* Responsive Design Mobile y Tablet*/

@media only screen and (max-width: 768px) {
    .links-pie-pag {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 50%;
            justify-content: center;
        }

        img {
            margin: 5px;
        }
    }
}