/* Inicio Main */
.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo-main {
    background-image: url(../images/index/fondo-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include tamanios(41rem, 97%);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    h1 {
        background-color: $bg-body;
        padding: 5px;
        border-radius: 10px;
        display: inline;
    }
}

.cont-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.div-parrafos-index {
    width: 42%;

    p {
        text-align: $txt-alineacion;
    }
}
/* Fin Main */


/* Inicio Section */
.section-index {
    background-color: $bg-header;
    display: flex;
    flex-direction: column;
    padding: 50px;

    h2 {
        text-align: center;
        margin-bottom: 80px;
    }
}

.cont-section {
    display: flex;
    justify-content: space-around;
}

.tarjetas-section {
    img {
        @include tamanios(300px, 340px);
        border-radius: 10px;

        &:hover {
            border: 5px solid $bg-objetos-hover;
        }
    }

    p {
        width: 340px;
        text-align: $txt-alineacion;
        padding: 11px;
        background-color: $bg-body;
        border-radius: 10px;
    }
}
/* Fin Section */

/* Responsive Design Mobile */
@media only screen and (max-width: 767px) {
    .fondo-main {
        @include tamanios(25rem, 90%);
    }

    .cont-main {
        display: flex;
        flex-direction: column;
        border: none;

        iframe {
            width: 290px;
        }
    }

    .div-parrafos-index {
        width: 95%;
        margin-bottom: 40px;
    }

    .cont-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjetas-section {
        margin-bottom: 40px;

        img {
            @include tamanios(250px, 290px);
        }

        p {
            width: 290px;
        }
    }
}

/* Responsive Design Tablet */
@media only screen and (max-width: 992px) {
    .cont-main {
        iframe {
            width: 315px;
        }
    }

    .tarjetas-section {
        img {
            @include tamanios(275px, 315px);
        }

        p {
            @include tamanios(210px, 315px);
        }
    }
}