/* Inicio Section Premios */
.section-premios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0 80px 0;

    img {
        @include tamanios(450px, 470px);
        border: $bordes-header;
        border-radius: 150px;
        box-shadow: 0 0 5px #000;
    }
}

.cont-titulo-premios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    p {
        text-align: $txt-alineacion;
    }
}
/* Fin Section */

/* Inicio Main Section */
.premios {
    background-color: $bg-header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 35px;

    iframe {
        border-radius: 30px;
        @include tamanios(365px, 510px);
    }
    
    &:nth-child(2) {
        background-color: $bg-body;
    }
}

.texto-premios {
    text-align: center;
    width: 390px;

    p {
        display: none;
    }

    h3 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    img {
        @include tamanios(350px, 350px);
        border-radius: 350px;
    }

    &:hover>img {
        display: none;
    }

    &:hover>p {
        display: block;
        font-size: 15px;
    }
}
/* Fin Main */

/* Responsive Design Mobile */
@media only screen and (max-width: 767px) {
    .section-premios {
        display: flex;
        flex-direction: column;

        img {
            @include tamanios(310px, 290px);
            border-radius: 10px;
        }
    }

    .cont-titulo-premios {
        width: 90%;
        margin-top: 20px;
    }

    .premios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;

        &:nth-child(2) {
            flex-direction: column-reverse;
        }
        
        iframe {
            display: none;
        }
    }

    .texto-premios {
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
        align-items: center;

        img {
            @include tamanios(300px, 300px);
            margin-top: 25px;
        }

        p {
            display: block;
            text-align: $txt-alineacion;
        }

        &:hover>img {
            display: inline;
        }
    }
}

/* Responsive Design Tablet */
@media only screen and (max-width: 991px) {
    .section-premios {
        img {
            @include tamanios(320px, 350px);
            border-radius: 80px;
        }
    }

    .premios {
        flex-direction: column;

        &:nth-child(2) {
            flex-direction: column-reverse;
        }

        iframe {
            display: none;
        }
    }

    .texto-premios {
        p {
            display: block;
        }
    }
}