/* Colores */
$bg-body: #cff4fc;
$color-texto: #272727;
$bg-header: #a5e8f7;
$bg-objetos: #faebd7;
$bg-objetos-hover: #f3ce9d;
$bg-footer: #81e5fc;
/* Fin Colores */

/* Bordes */
$bordes-header: 3px solid #87ceeb;
/*Fin Bordes */

/* Parrafos */
$txt-alineacion: justify;
/* Fin Parrafos */